@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

$bg : #000;
$text : #fff;
$text-dim : #666;
$border: #333;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg;
  color: $text;
  font-family: 'JetBrains Mono';
  //min-height: 300vh;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.2rem;
  // border: 1px solid red;
  background-color: transparent;

  &.scrolled {
    background-color: rgba(0, 0, 0, 0.95);
    //background-color: red;
    border-bottom: 1px solid $border;
  }

  .nav-container {
    max-width: 1200px;
    margin: 0 auto;
    // border: 1px solid blue;
    display: flex;
    justify-content:  space-between;
    align-items: center;

    .logo {
      color: $text;
      font-size: 1.2rem;
    }
    .nav-links {
      display: flex;
      gap: 3rem;
      list-style: none;

      a {
        text-decoration: none;
        font-size: 0.9rem;
        color: $text-dim;

        &:hover {
          color: $text;
        }
      }
    }
  }
}
