@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

$bg : #000;
$text : #fff;
$text-dim : #666;
$border: #333;

@mixin btn {
  padding: 1.1rem 1.5rem;
  text-decoration: none;
  border: 1.5px solid $border;
  color: $text;
  font-size: 0.8rem;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg;
  color: $text;
  font-family: 'JetBrains Mono';
  //min-height: 300vh;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.2rem;
  z-index: 1000;
  // border: 1px solid red;
  background-color: transparent;

  &.scrolled {
    background-color: rgba(0, 0, 0, 0.95);
    //background-color: red;
    border-bottom: 1px solid $border;
  }

  .nav-container {
    max-width: 1200px;
    margin: 0 auto;
    // border: 1px solid blue;
    display: flex;
    justify-content:  space-between;
    align-items: center;

    .logo {
      color: $text;
      font-size: 1.2rem;
    }
    .nav-links {
      display: flex;
      gap: 3rem;
      list-style: none;

      a {
        text-decoration: none;
        font-size: 0.9rem;
        color: $text-dim;

        &:hover {
          color: $text;
        }
      }
    }
  }
}

.hero {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  //border: 1px solid red;
  
  .hero-container {
    max-width: 1000px;
    width: 100%;
    //order-bottom: 1px solid $border;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .profile-photo {
      width: 220px;
      height: 220px;
      border-radius: 50%;
      border: 3px solid $border;
      margin: 3rem;

      img {
        width: 220px;
        height: 220px;
        border-radius: 50%;
      }
    }

    .hero-content {
      h1 {
        font-weight: 400;
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
      }

      p {
        color: $text-dim;
        margin-bottom: 1rem;
      }
     
      .subtitle {
        font-size: 1.2rem;
      }

      .location {
        font-size: 0.9rem;
      }
      
      .btn-grp {
        margin-top: 2.5rem;

        a {
          @include btn;
          // margin-top: 5rem;
        }

        .btn-primary {
          background-color: $text;
          color: $bg;

          &:hover {
            background-color: $bg;
            color: $text;
            border: 1.5px solid $text;
          }
        }
        .btn-secondary {
          &:hover {
            background-color: $text;
            color: $bg;
            border: none;
          }
        }
        

      }
    }
  }
}
